body {
  background-image: url(/assets/img/cinema.jpg);
  background-repeat: no-repeat;
  background-color: #0a0711;
  background-position: 50%;
  background-size: 100vw;
}
#title {
  padding: 20px;
  background-color: #0a0711;
  color: #7c9703;
}

#card {
  background-color: #66582bab;
}

#question {
  height: 50px;
  font-size: 22px;
}
#answers {
  height: 180px;
  font-size: 20px;
}

.answer {
  border: 2px solid black;
  border-radius: 8px;
  margin: 10px;
  padding: 5px;
  width: 50%;
  background-color: #e793259d;
}